sudo: required

env:
  matrix:
  - OS_TYPE=centos OS_VERSION=7
  - OS_TYPE=centos OS_VERSION=8

services:
  - docker

before_install:
  - sudo apt-get update
  # Pull containers
  - sudo docker pull centos:7
  - sudo docker pull ubuntu:14.04
  # Customize containers
  - sudo docker build --rm=true --file=Dockerfile.centos --tag=centos:ansible .
  - sudo docker build --rm=true --file=Dockerfile.ubuntu --tag=ubuntu:ansible .

script:
  #
  # Run test playbook on Ubuntu container
  #
  - sudo docker run ubuntu:ansible ansible-playbook /etc/ansible/test.yml --syntax-check
  - sudo docker run ubuntu:ansible ansible-playbook /etc/ansible/test.yml

  #
  # Run test playbook on CentOS container
  #

  # Run container in detached state
  - sudo docker run --detach --privileged --volume=/sys/fs/cgroup:/sys/fs/cgroup:ro centos:ansible /usr/lib/systemd/systemd > "${CONTAINER_ID}"

  - sudo docker exec "$(cat ${CONTAINER_ID})" ansible-playbook /etc/ansible/test.yml --syntax-check
  - sudo docker exec "$(cat ${CONTAINER_ID})" ansible-playbook /etc/ansible/test.yml
  # Clean up
  - sudo docker stop "$(cat ${CONTAINER_ID})"
  
matrix:
  include:
  - name: "MySQL SQL server, Apache web server and Dovecot mail server"
    env: CFG_SQLSERVER="MySQL" CFG_MYSQL_ROOT_PWD="password" CFG_WEBSERVER="Apache" CFG_PHPMYADMIN="no" CFG_MTA="Dovecot" CFG_HHVMINSTALL="no" CFG_METRONOME="yes" CFG_AVUPDATE="yes" CFG_QUOTA="yes" CFG_ISPC="standard" CFG_JKIT="yes" CFG_WEBMAIL="squirrelmail" SSL_COUNTRY="IT" SSL_STATE="Turkey" SSL_LOCALITY="Sivas" SSL_ORGANIZATION="Servisys di Temporini Matteo" SSL_ORGUNIT="IT department"
  - name: "MySQL SQL server, Apache web server and Courier mail server"
    env: CFG_SQLSERVER="MySQL" CFG_MYSQL_ROOT_PWD="password" CFG_WEBSERVER="Apache" CFG_PHPMYADMIN="no" CFG_MTA="Courier" CFG_HHVMINSTALL="no" CFG_METRONOME="yes" CFG_AVUPDATE="yes" CFG_QUOTA="yes" CFG_ISPC="standard" CFG_JKIT="yes" CFG_WEBMAIL="squirrelmail" SSL_COUNTRY="IT" SSL_STATE="Turkey" SSL_LOCALITY="Sivas" SSL_ORGANIZATION="Servisys di Temporini Matteo" SSL_ORGUNIT="IT department"
  - name: "MySQL SQL server, nginx web server and Dovecot mail server"
    env: CFG_SQLSERVER="MySQL" CFG_MYSQL_ROOT_PWD="password" CFG_WEBSERVER="nginx" CFG_PHPMYADMIN="no" CFG_MTA="Dovecot" CFG_HHVMINSTALL="no" CFG_METRONOME="yes" CFG_AVUPDATE="yes" CFG_QUOTA="yes" CFG_ISPC="standard" CFG_JKIT="yes" CFG_WEBMAIL="squirrelmail" SSL_COUNTRY="IT" SSL_STATE="Turkey" SSL_LOCALITY="Sivas" SSL_ORGANIZATION="Servisys di Temporini Matteo" SSL_ORGUNIT="IT department"
  - name: "MySQL SQL server, nginx web server and Courier mail server"
    env: CFG_SQLSERVER="MySQL" CFG_MYSQL_ROOT_PWD="password" CFG_WEBSERVER="nginx" CFG_PHPMYADMIN="no" CFG_MTA="Courier" CFG_HHVMINSTALL="no" CFG_METRONOME="yes" CFG_AVUPDATE="yes" CFG_QUOTA="yes" CFG_ISPC="standard" CFG_JKIT="yes" CFG_WEBMAIL="squirrelmail" SSL_COUNTRY="IT" SSL_STATE="Turkey" SSL_LOCALITY="Sivas" SSL_ORGANIZATION="Servisys di Temporini Matteo" SSL_ORGUNIT="IT department"
  - name: "MariaDB SQL server, Apache web server and Dovecot mail server"
    env: CFG_SQLSERVER="MariaDB" CFG_MYSQL_ROOT_PWD="password" CFG_WEBSERVER="Apache" CFG_PHPMYADMIN="no" CFG_MTA="Dovecot" CFG_HHVMINSTALL="no" CFG_METRONOME="yes" CFG_AVUPDATE="yes" CFG_QUOTA="yes" CFG_ISPC="standard" CFG_JKIT="yes" CFG_WEBMAIL="squirrelmail" SSL_COUNTRY="IT" SSL_STATE="Turkey" SSL_LOCALITY="Sivas" SSL_ORGANIZATION="Servisys di Temporini Matteo" SSL_ORGUNIT="IT department"
  - name: "MariaDB SQL server, Apache web server and Courier mail server"
    env: CFG_SQLSERVER="MariaDB" CFG_MYSQL_ROOT_PWD="password" CFG_WEBSERVER="Apache" CFG_PHPMYADMIN="no" CFG_MTA="Courier" CFG_HHVMINSTALL="no" CFG_METRONOME="yes" CFG_AVUPDATE="yes" CFG_QUOTA="yes" CFG_ISPC="standard" CFG_JKIT="yes" CFG_WEBMAIL="squirrelmail" SSL_COUNTRY="IT" SSL_STATE="Turkey" SSL_LOCALITY="Sivas" SSL_ORGANIZATION="Servisys di Temporini Matteo" SSL_ORGUNIT="IT department"
  - name: "MariaDB SQL server, nginx web server and Dovecot mail server"
    env: CFG_SQLSERVER="MariaDB" CFG_MYSQL_ROOT_PWD="password" CFG_WEBSERVER="nginx" CFG_PHPMYADMIN="no" CFG_MTA="Dovecot" CFG_HHVMINSTALL="no" CFG_METRONOME="yes" CFG_AVUPDATE="yes" CFG_QUOTA="yes" CFG_ISPC="standard" CFG_JKIT="yes" CFG_WEBMAIL="squirrelmail" SSL_COUNTRY="IT" SSL_STATE="Turkey" SSL_LOCALITY="Sivas" SSL_ORGANIZATION="Servisys di Temporini Matteo" SSL_ORGUNIT="IT department"
  - name: "MariaDB SQL server, nginx web server and Courier mail server"
    env: CFG_SQLSERVER="MariaDB" CFG_MYSQL_ROOT_PWD="password" CFG_WEBSERVER="nginx" CFG_PHPMYADMIN="no" CFG_MTA="Courier" CFG_HHVMINSTALL="no" CFG_METRONOME="yes" CFG_AVUPDATE="yes" CFG_QUOTA="yes" CFG_ISPC="standard" CFG_JKIT="yes" CFG_WEBMAIL="squirrelmail" SSL_COUNTRY="IT" SSL_STATE="Turkey" SSL_LOCALITY="Sivas" SSL_ORGANIZATION="Servisys di Temporini Matteo" SSL_ORGUNIT="IT department"

before_script:
    - sudo sed -i "s/^127.0.1.1.*/127.0.1.1\t$HOSTNAME.example.com\t$HOSTNAME/" /etc/hosts
    - cat /etc/fstab
    - echo "y" | sudo bash install.sh
    - curl -IkL "https://$HOSTNAME:8080"
    - bash -c 'shopt -s globstar; shellcheck -s bash **/*.sh'

after_script:
    - cat /etc/fstab

after_failure:
    - cat /var/log/ispconfig_setup.log
    - cat /var/log/ispconfig_install.log
